title Arch Linux
linux /vmlinuz-linux-lts
initrd /intel-ucode.img
initrd /initramfs-linux-lts.img
{#

+ Enable IOMMU:
  https://wiki.archlinux.org/title/PCI_passthrough_via_OVMF#Enabling_IOMMU

+ Allocate static hugepages:
  https://wiki.archlinux.org/title/PCI_passthrough_via_OVMF#Static_huge_pages
  + I had this bizarre issue where the hugepages would be slightly too large than the amount allocated through here, and it would break occasionally on reboots (very rarely.)e I allocated an extra GB for this (I use 32GB on the VM.)

+ The split lock detect may affect performance, at the very least it'll clean up dmesg:
  https://www.reddit.com/r/VFIO/comments/zqesqm/psa_use_split_lock_detectoff_to_avoid_substantial/

#}
options root="LABEL=arch_os" rw iommu=pt intel_iommu=on default_hugepagesz=1G hugepagesz=1G hugepages=33 vfio-pci.ids={{ gpu_video_id }},{{ gpu_audio_id}} split_lock_detect=off
