[Unit]
Description=Mailrise SMTP notification relay
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
User=mailrise
Group=mailrise
ExecStart=/usr/local/bin/mailrise /etc/mailrise.conf

[Install]
WantedBy=multi-user.target
