[Unit]
Description=Download YouTube Subscriptions

[Service]
User=ytdl-sub
Group=ytdl-sub
ExecStart=/usr/local/bin/ytdl-sub -c /etc/ytdl-sub/config.yml sub /etc/ytdl-sub/subscriptions.yml
