[Unit]
Description=Download YouTube Subscriptions
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
User=ytdl-sub
Group=ytdl-sub
ExecStart=/usr/local/bin/ytdl-sub -c /etc/ytdl-sub/config.yml sub /etc/ytdl-sub/subscriptions.yml
